html, body {
    margin:0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.dashboard-menu .email {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

<<<<<<< HEAD
.dashboard-menu {
    z-index: 3;
}
=======
.div_info{
	margin:7px;
}

.retour_resultats{
	position: absolute;
    padding: 3px;
    right: 10%;
    margin: 10px;
}

table{ 
	border-width:1px;
	border-style:solid;
	border-color:black;
	table-layout:fixed;
	width:100%;
}

td{
	border-width:1px;
	border-style:solid;
	border-color:black;
	text-align:center;
	vertical-align:center;
	width:50%;
}

th{
	border-width:1.5px;
	border-style:solid;
	border-color:black;
	text-align:center;
	vertical-align:center;
	width:50%;
}

>>>>>>> e13e2267f607ff2a7b6b3afbe4833bb4ea435def
