html, body {
    margin:0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.dashboard-menu .email {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.dashboard-menu {
    z-index: 3;
}

.bi {
    display: inline-block;
    vertical-align: -.125em;
}