{% extends "base.html" %}
{% block body %}
<div class="container-fluid h-100">
<div class="row h-100">
    <nav id="sidebarMenu" class="col-auto col-md-3 col-lg-2 h-100 bg-dark text-white p-0 dashboard-menu position-fixed">
        <div class="d-flex flex-column p-3 h-100">
            <a href="/" class="d-flex align-items-center justify-content-center mb-3 m-0 text-white text-decoration-none">
                <img src="{{ url_for('static', filename='img/icons/ai-logo-32.png') }}" class="bi me-2" width="32"
                    height="32">
                <span class="d-none d-md-inline fs-4">AI Stimate</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href="{{ url_for('main.index') }}" class="nav-link text-white">
                        <svg class="bi me-2" width="16" height="16">
                            <use xlink:href="{{ url_for('static', filename='img/bootstrap-icons.svg') }}#speedometer2">
                            </use>
                        </svg>
                        <span class="d-none d-md-inline">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('main.estimation') }}" class="nav-link text-white">
                        <svg class="bi me-2" width="16" height="16">
                            <use xlink:href="{{ url_for('static', filename='img/bootstrap-icons.svg') }}#table"></use>
                        </svg>
                        <span class="d-none d-md-inline">Prédiction</span>
                    </a>
                </li>
                
                <li class="nav-item">
                    <a href="{{ url_for('main.list_houses') }}" class="nav-link text-white">
                        <svg class="bi me-2" width="16" height="16">
                            <use xlink:href="{{ url_for('static', filename='img/bootstrap-icons.svg') }}#card-list"></use>
                        </svg>
                        <span class="d-none d-md-inline">Liste logement</span>
                    </a>
                </li>

            </ul>
            <hr>
            <div class="dropdown">
                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                    id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{{ current_user.get_avatar() }}" alt="" width="32" height="32"
                        class="rounded-circle me-2">
                    <span class="d-none d-md-inline email"><strong>{{ current_user.email }}</strong></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser">
                    <li><a class="dropdown-item" href="{{ url_for('main.logout') }}">Se déconnecter</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="col-md-9 col-lg-10 ms-sm-auto px-md-4">
        <div class="border-bottom border-3 m-2 row">
            <h1 class="col-auto">{% block content_title %}{% endblock %}</h1>
            {% block title_button_left %}{% endblock %}
            
        </div>
        <div class="">{% block content_body %}{% endblock %}
        </div>
    </div>
</div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}
