{% extends "base_nav.html" %}
{% block title %}Dashboard{% endblock %}
{% block content_title %}Dashboard{% endblock %}
{% block content_body %}
<div class="accordion mb-3" id="accordionFlushExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed fw-bold fs-5" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Personnalisation
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <form method="POST" class="selection-form">
                    <div class="mb-3">
                        <label for="plotsSelect" class="form-label">Choisir les plots à afficher :</label>
                        {{ dashboard_form.plots(class="form-select", size=5, id="plotsSelect") }}
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary">Personnaliser</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<plot-list plots="{{ ','.join(plots) }}" id="plot-list" class="row">
    {% for plot in plots %}
    <div class="card shadow col-lg-6 col-12 mb-3">
        <div class="card-body">
            <img src="{{ url_for('api.plot_img', name=plot) }}" class="card-img-top">
        </div>
    </div>
    {% endfor %}
</plot-list>


{% endblock %}
{% block scripts %}
<script type="text/javascript">
    Plotly.setPlotConfig({
        mapboxAccessToken: "pk.eyJ1IjoiYWt1bWEwNiIsImEiOiJja3FiZW02YWEwamVpMnlxczVuYnl6aTR5In0.VJ5FbsxVmDHWTnHEG90vFA"
    });
    class PlotGraph extends HTMLElement {
        constructor(plotName) {
            super()
            if (plotName !== undefined)
                this.name = plotName
            this.get_plot()
        }

        get name() {
            return this.getAttribute('name')
        }

        set name(plotName) {
            this.setAttribute('name', plotName)
        }

        static get observedAttributes() {
            return ['name']
        }

        async get_plot() {
            const result = await fetch(`/api/plot/json/${this.name}`)
            if (result.status === 200) {
                const json = await result.json()
                this.plotJson = json
                this.innerHTML = '<div class="plotly"></div>'
                this.plotly = Plotly.newPlot(this.querySelector('.plotly'), this.plotJson.data !== undefined ? this.plotJson.data : this.plotJson, this.plotJson.layout ? this.plotJson.layout : {})
            }
        }
    }
    class PlotList extends HTMLElement {
        constructor(plots) {
            super()
            if (plots !== undefined)
                this.plots = plots
            this.reload()
        }
        get plots() {
            return this.getAttribute('plots').split(",")
        }
        set plots(plots) {
            this.setAttribute('plots', plots.join(","))
        }
        static get observedAttributes() {
            return ['plots']
        }
        attributeChangedCallback(name, oldValue, newValue) {
            if (name == "plots" && oldValue !== newValue) {
                this.reload()
            }
        }
        reload() {
            this.innerHTML = ''
            for (let plot of this.plots) {
                const div = document.createElement("div")
                div.classList.add("card", "shadow", "col-lg-6", "col-12", "mb-3")
                div.innerHTML = `<div class="card-body"><plot-graph name="${plot}"></div>`
                this.appendChild(div)
            }
        }
    }
    customElements.define('plot-list', PlotList)
    customElements.define('plot-graph', PlotGraph)
    document.querySelector(".selection-form").addEventListener("submit", (e) => {
        e.preventDefault()
        const select = document.querySelector("#plotsSelect")
        document.querySelector("#plot-list").setAttribute("plots", Array.from(select.selectedOptions).map((collection) => collection.value).join(","))
    })
</script>
{% endblock %}
