<p>
    AI Stimate permet d'estimer un bien immobilier en Californie. Notre estimation utilise des outils poussés en machine learning afin 
    de proposer la valeur la plus exacte par rapport au prix du marché.
</p>
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Comment estimer un bien ?
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Il suffit de cliquer sur estimer un bien et de remplir le formulaire avec les données du bien immobilier.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Comment ajouter un bien ?
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Pour ajouter un bien vendu, vous pouvez aller dans la liste des logements puis de cliquer sur le bouton vert Ajouter en haut à droite de votre écran.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Comment modifier un bien ?
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Pour modifier un bien, vous pouvez cliquer sur un bien dans la liste des logements et vous pouvez la modifier en remplissant le formulaire.
        </div>
      </div>
    </div>
  </div>