{% extends "base_nav.html" %}
{% block title %}Logement {{house_id}}{% endblock %}
{% block title_button_left %}<button class='btn btn-outline-primary' onclick="window.location.href='/list_houses';">Retour aux résultats</button>{% endblock %}
{% block content_title %}Logement {{house_id}}{% endblock %}
{% block content_body %}
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-auto fw-bold">
                Id
            </div>
            <div class="col">{{ house_.id }}</div>
        </div>
        <div class="row">
            <div class="col-auto fw-bold">
                Longitude
            </div>
            <div class="col">{{ house_.longitude }}</div>
            <div class="col-auto fw-bold">
                Latitude
            </div>
            <div class="col">{{ house_.latitude }}</div>
        </div>
        <div class="row">
            <div class="col-auto fw-bold">
                Age médian
            </div>
            <div class="col">{{ house_.housing_median_age }}</div>
        </div>
        <div class="row">
            <div class="col-auto fw-bold">
                Nombre de pièces
            </div>
            <div class="col">{{ house_.total_rooms }}</div>
            <div class="col-auto fw-bold">
                Nombre de chambres
            </div>
            <div class="col">{{ house_.total_bedrooms }}</div>
        </div>
        <div class="row">
            <div class="col-auto fw-bold">
                Population
            </div>
            <div class="col">{{ house_.population }}</div>
        </div>
        <div class="row">
            <div class="col-auto fw-bold">
                Salaire médian (dm$)
            </div>
            <div class="col">{{ house_.median_income }}</div>
        </div>
        <div class="row">
            <div class="col-auto fw-bold">
                Surface du bien
            </div>
            <div class="col">{{ house_.households }}</div>
        </div>
        <div class="row">
            <div class="col-auto fw-bold">
                Valeur médianne du bien
            </div>
            <div class="col">{{ house_.median_house_value }}</div>
        </div>
        <div class="row">
            <div class="col-auto fw-bold">
                Proximité à l'océan
            </div>
            <div class="col">{{ house_.ocean_proximity }}</div>
        </div>
        <div class="row">
            <div class="col-auto fw-bold">
                Date de création
            </div>
            <div class="col">{{ house_.created_date.strftime("%d/%m/%y %H:%m") }}</div>
        </div>
    </div>
</div>
{%endblock%}

