{% extends "base_nav.html" %}
{% block title %}Liste logement{% endblock %}
{% block content_title %}Liste logement{% endblock %}
{% block content_body %}

<div class="row">
    <div class="col-auto m-auto">

        <div class="row">

            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="?p={{current_page-1}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    {%for page in range(current_page-1 if current_page > 1 else 1,current_page+2 if current_page < count_page else count_page+1)%}

                    <li class="page-item"><a class="page-link" href="?p={{page}}">{{page}}</a></li>

                    {% endfor %}
                    <li class="page-item">
                        <a class="page-link" href="?p={{current_page+1}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</div>


<div class="row">
    <div class="col-6 m-auto">
        <div class="row">

            {%for house in list_housing %}
            <a class="card col-12 text-decoration-none text-dark my-3 shadow" href="/house/{{house.id}}">
                <div class="card-body">
                    <div class="row">
                        <div class="col-auto">
                            <strong>id house :</strong> {{house.id}}
                        </div>
                        <div class="col-auto">
                            <strong>ocean proximity :</strong> {{house.ocean_proximity}}
                        </div>
                        <div class="col-auto ms-auto">
                            <button class="btn btn-primary" type="submit">UPDATE</button>
                            <button class="btn btn-danger" type="submit">DELETE</button>
                            
                        </div>


                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>


<div class="row">
    <div class="col-auto m-auto">

        <div class="row">

            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="?p={{current_page-1}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    {%for page in range(current_page-1 if current_page > 1 else 1,current_page+2 if current_page < count_page else count_page+1)%}

                    <li class="page-item"><a class="page-link" href="?p={{page}}">{{page}}</a></li>

                    {% endfor %}
                    <li class="page-item">
                        <a class="page-link" href="?p={{current_page+1}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</div>





{% endblock %}