<li class="nav-item">
    <a href="{{ url_for('main.index') }}" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16">
            <use xlink:href="{{ url_for('static', filename='img/bootstrap-icons.svg') }}#speedometer2">
            </use>
        </svg>
        <span>Dashboard</span>
    </a>
</li>
<li class="nav-item">
    <a href="{{ url_for('main.estimation') }}" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16">
            <use xlink:href="{{ url_for('static', filename='img/bootstrap-icons.svg') }}#table"></use>
        </svg>
        <span class="d-none d-md-inline">Prédiction</span>
    </a>
</li>
<li class="nav-item">
    <a href="{{ url_for('main.list_houses') }}" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16">
            <use xlink:href="{{ url_for('static', filename='img/bootstrap-icons.svg') }}#card-list"></use>
        </svg>
        <span class="d-none d-md-inline">Liste logement</span>
    </a>
</li>
{% if current_user.has_permissions(["admin.read"]) %}     
<li class="nav-item">
    <a href="{{ url_for('admin.show_model') }}" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16">
            <use xlink:href="{{ url_for('static', filename='img/bootstrap-icons.svg') }}#file-bar-graph"></use>
        </svg>
        <span class="d-none d-md-inline">Visualiser la régression</span>
    </a>
</li>
{% endif %}
<li class="nav-item">
    <a href="{{ url_for('admin.show_model') }}" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16">
            <use xlink:href="{{ url_for('static', filename='img/bootstrap-icons.svg') }}#patch-question"></use>
        </svg>
        <span class="d-none d-md-inline">FAQ</span>
    </a>
</li>